/** important **/

:root {
    --white-color: #FFFFFF;
    --primary-brand-color: #4d5ae5;
    --dark-color:#2e2f42;
    --text-color:#434455;
    --light-color:#F4F4FD;
    --passed-state-color:#404BBF;
    --success-color: #31D0AA;
    --suble-text-color:#8E8F99;
    --accent-color:#E7E9FC;



}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--white-color);
    }

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** LOGO **/

.logo-link {
    font-family: 'Raleway', sans-serif;
    color: var(--primary-brand-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-link.link {
    text-decoration:none;
}

.logo-studio-span {
    color: var(--dark-color);
}   

/** header **/

.header-menu.list {
    list-style:none;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.header-menu-link.link {
    text-decoration:none ;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}


/** ADRESS **/

.header-contact {
    font-style: normal ;
}

.header-contact-menu {
    list-style: none ;
}

.header-contact-menu.list {
    list-style: none;
}

.header-contact-link.link {
    text-decoration: none;
}

.header-contact-link {
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.header-contact-link.link:hover {
    color: #404bbf;
}

.header-contact-link.link:focus {
    color: #404bbf;
}

/** 1 СЕКЦИЯ **/

.hero-section {
    background-color: var(--dark-color);
}



.hero-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    color: var(--white-color);
    background-color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/** 2 СЕКЦИЯ **/

.content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);

}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    }

    .content-list {
        list-style: none;
    }

/** 3 СЕКЦИЯ **/


.process-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
}

.process-menu {
    list-style: none ;
}

/** 4 СЕКЦИЯ **/

.main-section-team {
    background-color: #F4F4FD;
}

.team-menu {
    list-style: none;
}

.team-menu-item {
    background-color: #FFFFFF;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/** фууутер **/

.footer {
    background-color: #2e2f42;

}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--primary-brand-color);
}

.logo-footer.link {
    text-decoration:none;
}

.logo-studio-footer {
    color: #f4f4fd;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
     }


     /** ПОРТФОЛИО **/
     .body {
        font-family: "Roboto", sans-serif;
        color: var(--text-color);
     }

     .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primary-brand-color);
     }

     .logo.link {
        text-decoration: none;
     }

     .logo-portfolio-span {
        color: var(--dark-color);
     }
     
     .header-menu-link {
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
     }

     .button-menu {
        list-style: none;
     }

     .text-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--primary-brand-color);
        background-color:var(--light-color);
        font-family: "Roboto", sans-serif;
        cursor: pointer;
    }

    .text-button:hover {
        color: var(--white-color);
        background-color: var(--passed-state-color);
 
    }

    .text-button:focus {
        color: var(--white-color);
        background-color: var(--passed-state-color);
        
    }

    .images.link{
        text-decoration: none;
    }

    .photo-menu.list{
        list-style: none
    }
    
    .header-photo {
        color: var(--dark-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    
    .text-photo {
        color: var(--text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }


    /** фууутер портфолио **/

    